{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Cadastro de cliente</h1>
                </div>
                <div class="table-responsive">

                    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %} {% endif %} {% endwith %}

                    <a href="{{ url_for('cliente.insertCliente') }}" class="btn btn-dark">Adicionar Novo Cliente</a>
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Cliente</th>
                                <th>Curriculo</th>
                                <th>Telefone</th>
                                <th>Preço</th>
                                <th>Editar</th>
                                <th>Excluir</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cliente in clientes %}
                            <tr>
                                <td> {{ cliente['cliente'] }} </td>
                                <td> {{ cliente['categoria'] }} </td>
                                <td> {{ cliente['telefone'] }} </td>
                                <td> {{ cliente['preco'] }} </td>
                                <td><a href="{{ url_for('cliente.editCliente', idcliente=cliente['_id']) }}">Editar</a></td>
                                <td><a href="{{ url_for('cliente.deleteCliente', idcliente=cliente['_id']) }}">Excluir</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
{% endblock %}